@model IEnumerable<Chatter.Models.Chat>

@{
    ViewBag.Title = "Index";
}

<h2>Splatter Chatter</h2>

<p>
   @*@Html.ActionLink("Create New", "Create")*@
</p>

    <input type="text" id="postAdd" placeholder="Enter Chats">

<button id="postChats" class="btn btn-success">Post Chat</button>

<p>
    <div id="response"></div>
    <button id="getChats" class="btn btn-primary">Get Chats</button>
</p>


@section Scripts {
    <script>
        //AJAX request using jQuery as a helper
        //AJAX request using jQuery as a helper
        //Notice this combines Razor syntax (@Url.Action()) in order to
        //have the compiler figure out the exact path of the controller,
        //alongside of jQuery.


        $(document).ready(function () {

            //post chats
            $("#postChats").click(function () {
                var postMessage = $('#postAdd').val();

                $.post("@Url.Action("PostChats", "Chats")", { "Message": postMessage }, function () {

                    pullChats();

                })

            });

            //initialization code here
            $("#getChats").click(pullChats);

            function pullChats() {
                $.get("@Url.Action("TestJson","Chats")", function (serverResponse) {
                    var jsonTest = JSON.parse(serverResponse);
                    //console.log(jsonTest);

                    var ul = $("<ul>", { id: "messageList", "class": "bg-primary" });
                    //ul.click(function () { alert("ul was clicked!"); });
                    $("#response").append(ul);

                    $.each(jsonTest, function (inx, val) {
                        var myBgClass = ["bg-info", "bg-success"];
                        var li = $("<li>", { id: "li" + inx, "class": myBgClass[inx % 2] });
                        li.text(val.Message + " Posted By: " + val.UserName);
                        //li.click(function () { alert("my index is " + inx); });
                        ul.append(li);
                    });
                })


            }

        }
        );



    </script>
}



